<!--navigation section-->
<section>
    <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start">
         <a routerLink="userlist" ><button class="btn btn-outline-success me-2" type="button">See members</button></a>
          <button class="btn btn-sm btn-outline-secondary" type="button">Smaller button</button>
        </form>
    </nav>
      


<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.pexels.com/photos/301926/pexels-photo-301926.jpeg?cs=srgb&dl=pexels-pixabay-301926.jpg&fm=jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/1164572/pexels-photo-1164572.jpeg" class="d-block w-100" alt="second">
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/1516440/pexels-photo-1516440.jpeg?" class="d-block w-100" alt="thrid">
      </div>
    </div>
  </div>

  </section>